*{
    margin: 0;
    padding: 0;
}
.container-body{
    margin: 20px;
    justify-items: center;
}
.title-con{
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 80px;
    padding: 10px;
    padding-left: 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.search-con h1{
    font-family: 'Merriweather', serif;
    margin: 10px;
    color: #1c1c1c;
}
.reminder{
    font-weight: bold;
    color : green;
    padding-top: 20px;
    text-align: left;
}
.tutup{
    font-weight: bold;
    color : red;
    padding-top: 20px;
    text-align: left;
}
.input-search{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid whitesmoke;
    border-radius: 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    margin-bottom: 10%;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  .modal-body h2{
      margin-top: 3%;
      margin-bottom: 3%;
      text-align: center;
      font-size: xx-large;
  }
.image-modal img{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    max-width: 50%;
}
.image-modal{
    display: flex;
    justify-content: center;
}
.mydesc{
    margin-top: 10%;
    margin-bottom: 3%;
}
.mycapt{
    margin-bottom: 3%;
}
.mycapt p{
    margin-bottom: 7px;
    font-weight: bold;
    font-size: larger;
}
.mycapt p::after{
    margin-top: 2px;
    
    display: block;
    width: 100%;
    height: 2px;
    background: gold;
    content: '';
}
.capt{
    text-align: justify;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 25px 20px;
    background-color: #3a9bdc;
    color: white;
  }
  
  .modal-body {
      padding: 2px 16px;
      display: flex;
      flex-direction: column;
    }
  pre{
    white-space: pre-wrap;       
    white-space: -moz-pre-wrap;  
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;    
    word-wrap: break-word;
    font-family: 'Merriweather', serif;
    font-size: small; 
    
  }
  .modal-footer {
    padding: 25px 20px;
    background-color: #3a9bdc;
    color: white;
  }
  .mydesc .desc img {
    height: 30px;
    width: 30px;
  }
  .mydesc .desc .keterangan {
    font-size:medium;
    color: #000;
  }
.search_input {
    margin: 10px;
    width: calc(100% - 600px);
    height: 40px;
    border: none;
    outline: none;
    padding-left: 25px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
.cariLomba{
    align-items: center;
    width: 600px;
    margin-bottom: 15px;
    margin-right: 15px;
}
.sort{
    width: 350px;
    margin-bottom: 15px;
    margin-right: 15px;
}
.col-body{
    display : grid;
    grid-template-columns: 28% 72%;
    grid-template-areas:
        'filter hasil';
}
.filter-con{
    grid-area: filter;
}
.con-fil{
    margin-top: 60px;
}
.listing_filter_con{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
}
.section_title {
    padding-top: 11px;
}

.section_title h3 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.section_title h3 span {
    font-weight: 400;
    color: #9d9d9d;
}

.section_title::after {
    display: block;
    top: 0;
    left: 0;
    width: 60%;
    height: 2px;
    background: gold;
    content: '';
}
.section_title::before {
    display: block;
    top: 0;
    left: 0;
    width: 60%;
    height: 2px;
    background: gold;
    content: '';
}

.listing_checkbox input:checked~.checkmark::after {
    visibility: visible;
    opacity: 1;
}

.listing_checkbox:hover .checkmark::after {
    visibility: visible;
    opacity: 0.5;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    width: 26px;
    border: solid 1px #cad8e2;
    border-radius: 5px;
    background-color: transparent;
}

.checkmark::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background: #ffb400;
    border-radius: 50%;
    content: '';
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.listing_checkbox {
    width: 25%;
    margin-bottom: 16px;
}

.listing_checkbox label {
    display: block;
    position:relative;
    cursor: pointer;
    padding-left: 39px;
    line-height: 26px;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.listing_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.services{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 260px));
    gap : 25px;
    margin-top: 15px;
}
.service{
    background-color: whitesmoke;
    padding: 15px;
    text-align: center;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 1px 1.5px 2px rgba(0,0,0,0.5);
    color : black;
    font-family: 'Merriweather', serif;
}
.service .poster{
    background-color: white;
    height: 250px;
    width: 100%;
  
}

.service .poster img{
    height :inherit;
    object-fit: cover;
}
.service h4{
    margin: 15px;
    font-size:larger;
    color: #3a9bdc;
}
.service .poster::after{
    display: block;
    width: 100%;
    height: 2px;
    background: gold;
    content: '';
}
.service p{
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    margin-bottom: 20px;
}
.service .btn-info {
    background-color: #3a9bdc; /* Green */
    border: none;
    color: black;
    margin-top: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: fit-content;
  }
  .service .btn-delete {
    background-color: rgba(245, 20, 20, 0.877); /* Green */
    border: none;
    color: black;
    margin-top: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: fit-content;
  }
  .filter {
    margin-left: 0;
    margin-top: 10px;
    height: 50px;
    width: 60%;
    border: 1px solid #1c1c1c;
    outline:#1c1c1c;
    box-shadow: #1c1c1c;
    padding-left: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
  .service .btn-wish {
    background-color: gold; /* Green */
    border: none;
    color: black;
    margin-top: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    width: fit-content;
  }
  .service .btn-edit {
    background-color: gold; /* Green */
    border: none;
    color: black;
    margin-top: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor : pointer;
    width: fit-content;
  }
.desc{
    display: flex;
    padding: 3px;
}
.desc img{
    height: 18px;
    width: 18px;
}
.desc .keterangan{
    display: flex;
    margin-left: 10px;
    font-size:x-small;
    text-align: left;
    align-items:center;
    justify-content:center;
    color: rgba(102, 101, 101, 0.842);
    
}
.hasil-con{
    grid-area: hasil;
    
}
.con-judul{
    display: grid;
    grid-template-columns: auto auto;  
    justify-content: space-between;   
    align-content: space-between; 
    margin-bottom: 30px; 
    padding: 10px;   
    padding-right: 30px;
}
.btn-make{
    background-color: gold; /* Green */
    border: none;
    color: black;
    padding:  15px 40px 15px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.btn-make:hover{
    opacity: 0.7;
}
.hasil-con h1::after{
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #3a9bdc;
    content: '';
}
.card {
    width: 85%;
    max-width: 300px;
    margin: 25px;
    margin-right: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    font-family: arial;
    background-color: #ffffff;
    margin-left: 0;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
button:hover{
    background-color: #3a9bdc;
    opacity: 0.8;
}
.title {
    color: grey;
    font-size: 15px;
    margin-bottom: 10px;
}
h3{
    margin: 5px;
}
.box-infoAkun {
    width: 97%;
    margin: 25px;
    margin-left: 0;
    border-radius: 3px;
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.35);
    font-family: arial;
}
.box-infoAkun h2{
    padding: 10px;
}
.box-detail {
    text-align: left;
    padding: 10px;
    font-size: 15px;
    color: black;
    border-style: solid;
    border-color: grey;
    border-radius: 10px;
    line-height: 30px;
    margin: 5px;
}

@media screen and (max-width:1100px) {
    .col-body{
        display : grid;
        grid-template-columns: 100%;
        grid-template-areas:
            'filter''hasil';
    }
    .input-search{
        flex-wrap: wrap;
        justify-content:left;
    }
    .cariLomba{
        width:100%;
    }
    .cariKategori{
        width: 100%;
    }
    .listing_filter_con{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .listing_checkbox {
        width: 25%;
        margin-bottom: 16px;
    }
    .hasil-con{
        margin-top: 30px;
    }
    .hasil-con::before{
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        margin-bottom: 20px;
        height: 1px;
        background: #3a9bdc;
        content: '';
    }
    .hasil-con h1::after{
        background: white;
    }
}
@media screen and (max-width:800px) {
    
    .listing_checkbox {
        width: 40%;
        margin-bottom: 16px;
    }
}

@media screen and (max-width:550px) {
    .con-judul{
        display:block;
    }
    .services{
        margin-right: 15px;
    }
    h1{
        margin-bottom: 20px;
    }
    .search_input {
        margin: 3px;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 200;
        color: #000000;
    }
    .cariLomba{
        width:200px;
    }
    .cariKategori{
        width: 200px;
    }
    
}