.container-body{
    margin: 20px;
    margin-top: 100px;
    justify-items: center;
}
.header{
    display : grid;
    grid-template-areas:
        'hero hero feature-1'
        'hero hero feature-2';
}
.hero{
    grid-area: hero;
    height: 250px;
    background-image: url(../img/Eventque.png);
    background-size:cover;
    background-position: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #44bae8;

}
.heading{
    font-size: 3em;
    font-weight: 250px;
}
.hero h2, .hero p{
    display: none;
}
.features{
    background-color: black;
    color: white;
    display: grid;
    justify-content: left;
    align-content: center;
    padding-left: 20px;
}
.feature-1{
    grid-area: feature-1;
    background-image: url(../img/new.png);
    background-size: cover;
    background-position: center;
}
.feature-2{
    grid-area: feature-2;
    background-image: url(../img/hot.png);
    background-size: cover;
    background-position: center;
	justify-content: right;
	padding-right : 20px;
}
.new-event{
    font-size: 3em;
    font-weight: 250px;
}
.feature-2 .new-event{
	text-align : right;
	
}
.services{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap : 25px;
    margin-top: 15px;
}
.service{
    background-color: black;
    padding: 15px;
    text-align: center;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    box-shadow: 1px 1.5px 2px rgba(0,0,0,0.5);
    color : white;
    font-family: 'Merriweather', serif;
}
.service .icon img{
    height: 30px;
    width: 30px;
}
.service p{
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}
.service .btn-info {
    background-color: #44bae8; /* Green */
    border: none;
    color: white;
    margin-top: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }

@media screen and (max-width:999px) {
    .container-body{
        margin: 10px ;
        margin-top: 90px;
    }
    .services{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
        gap : 10px;
        margin-top: 15px;
    }
    .hero{
        min-height: 150px;
    }
    .header{
        grid-template-areas: 
        'hero'
        'feature-1'
        'feature-2';
    }
}

@media screen and (max-width:800px) {
    .container-body{
        margin: 10px ;
        margin-top: 90px;
    }
    .services{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
        gap : 10px;
        margin-top: 15px;
    }
    .hero{
        min-height: 150px;
    }
    .header{
        grid-template-areas: 
        'hero'
        'feature-1'
        'feature-2';
    }
}

@media screen and (max-width:400px) {
    .container-body{
        margin: 10px ;
        margin-top: 90px;
    }
}